.key {
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
}
.value {
    font-size: 14px;
    font-family: sans-serif;
}
.productImgContainer {
    width: 100px;
    height: 100px;
    overflow: hidden;
    text-align: center;
}
.productImgContainer img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.col-name-sort {
    cursor: pointer;
}

.form-add-size {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .form-control {
        margin-right: 5px;
        width: 25%;
    }
    .form-group {
        width: 80px;
        .form-control {
            width: 100%;
        }
    }
    .btn-add {
        height: 30px;
        margin: 5px;
    }
    .size-info {
        margin-left: 20px;
        flex-direction: row;
    }
}

.size-info {
    margin-right: 20px;
}

.wrapper-btn {
    > * {
        margin: 0 5px;
    }
}

.wrapper-discount {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .active {
        background-color: green !important;
    }
}
.product-name{
    display: block;
    width: 580px;
}